@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.logo img {
    width: 200px;
}
.hamburger {
    display: none;
}
.close-btn {
    display: none;
}
.first {
    padding: 30px 50px;
    background: url('./images/image-header\ desktop.jpg');
    background-position: bottom;
    background-size: cover;
    height: 100vh;
    position: relative;
}
header {
    display: flex;
    justify-content: space-between;
}
nav{
    width: 30%;
}
nav ul {
    display: flex;
    justify-content: space-between;  
    align-items: center;
}
nav li {
    list-style: none;
    font-size: 18px;
}
nav li a {
    text-decoration: none;
    color: #fff;
    font-family: 'Barlow', sans-serif;
}
.btn-contact {
    font-size: 15px;
    width: 100px;
    padding: 15px 10px;
    border: none;
    outline: none;
    border-radius: 25px;
    background-color: #fff;
    font-family:  'Barlow', sans-serif;
    text-transform: uppercase;
}
.holder {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Fraunces', serif;
}
.box-holder {
    display: flex;
    width: 100%;
}
.holder h1 {
    margin-top: 70px;
    font-size: 70px;
    color: #fff;
}
.arrow-down {
    width: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%)
}
.second {
    font-family: 'Fraunces', serif;
    width: 100%;
}
.holder-2 {
    display: flex;
    flex-wrap: wrap;
}
.transform {
    width: 50%;
}
.egg {
    width: 50%;
    height: 600;
}
.transform, .standout-text {
   padding: 120px 100px;
}
 .transform h1 {
   font-size: 45px;
   color:  hsl(212, 27%, 19%);
   width: 410px;
}
.transform p, .standout-text p {
    font-size: 20px;
    width: 493px;
    padding: 30px 0 40px 0;
    color: hsl(232, 10%, 55%);
    font-family: 'Barlow', sans-serif;
    line-height: 30px;
} 
.standout-text h1 {
    font-size: 45px;
    color:  hsl(212, 27%, 19%);
}
a {
    text-decoration: none;
    color:  hsl(212, 27%, 19%);
}
.transform a {
    border-bottom: 4px solid hsl(51, 100%, 49%);
}
.standout-text a {
    border-bottom: 4px solid hsl(7, 99%, 70%);
}
.box {
    width: 50%;
    height: 600px;
}
.egg img {
    width: 100%;
}
.stand-out img {
    width: 100%;
}
.cherry, .orange {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 300px;
    height: 80vh;
}
.cherry {
    background: url(./images/image-graphic-design\ desktop.jpg);
    background-position: center;
    background-size: cover;
    color: hsl(167, 40%, 24%);
}
.orange {
    background: url(./images/image-photography\ desktop.jpg);
    background-position: center;
    background-size: cover;
    color: hsl(198, 62%, 26%);
}
.cherry h1, .orange h1 {
    font-size: 40px;
}
.cherry p, .orange p {
    width: 450px;
    padding-top: 25px;
    font-size: 18px;
}
.third {
    width: 90%;
    margin: 0 auto;
    padding: 50px 100px;
}
.testimonials h1 {
    font-size: 30px;
    color: hsl(232, 10%, 55%);
    text-align: center;
    padding-top: 60px;
}
.persons {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}
.client {
    text-align: center;
    font-family: 'Barlow', sans-serif;
    transition: transform 0.4s;
}
.client:hover {
    transform: scale(0.9, 0.9);
}
.client img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.client p {
    width: 340px;
    font-size: 15px;
    font-weight: 600;
    margin-top: 40px;
    color: hsl(232, 10%, 55%);
    line-height: 25px;
}
.client h2 {
    margin-top: 30px;
    color:  hsl(212, 27%, 19%);
}
.client h6 {
    margin-top: 15px;
    font-size: 10px;
    color: hsl(232, 10%, 55%);
} 
.jpegs {
    margin-top: 60px;
    display: flex;
}
.jpegs img {
    width: 25%;
}
footer {
    padding: 20px 0 5px 0;
    height: 30vh;
    background-color: #90D4C5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Barlow', sans-serif;
}
.footer img  {
    width: 30px;
}
footer ul {
    margin-top: 30px;
    display: flex;
}
footer li {
    list-style: none;
    font-size: 18px;
    padding-left: 25px;
    color:  #458C7E;
}
.footer-icon img{
    padding-left: 10px;
    margin-top: 60px;
}
.egg-mob {
    display: none;
}
.standout-mob {
    display: none;
}
.bottles-mob {
    display: none;
}
.galorange-mob {
    display: none;
}
.sugar-mob {
    display: none;
}
.cone-mob {
    display: none;
}
@media screen and (max-width: 768px) {
    .container {
        width: 100%;
    }
    nav {
        display: none;
    }
    .logo img {
        width: 150px ;
    }
    .hamburger {
        display: block;
        width: 30px;
    }
    .close-btn {
        width: 30px;
        display: none;
    }
    header {
        align-items: center;
    }
    .first {
        padding: 20px 15px;
        background: url('./images/image-header\ mobile.jpg');
        background-position: bottom;
        background-size: cover;
    }
    .holder h1 {
        font-size: 55px;
        text-align: center;
        margin-top: 30px;
    }
    .arrow-down {
        top: 60%;
    }
    .transform, .standout-text {
        text-align: center;
        padding: 15px;
        width: 100%;
    }
    .stand-out img, .egg img {
        height: 300px;
    }
    .box-holder {
        flex-direction: column-reverse;
    }
    .transform p, .standout-text p {
        font-size: 15px;
        padding: 20px 10px;
        width: 100%;
    }
    .transform h1, .standout-text h1 {
        width: 100%;
        font-size: 35px;
    }
    .box {
        height: 350px;
        width: 100%;
    }
    .cherry {
        background: url(./images/image-graphic-design\ mobile.jpg);
        background-position: top;
        background-size: cover;
        height: 80vh;
    }
    .orange {
        background: url(./images/image-photography\ mobile.jpg);
        background-position: top;
        background-size: cover;
        height: 80vh;
    }
    
   
    .cherry h1, .orange h1 {
        /* padding-top: 40px; */
        font-size: 15px;
    }
    .cherry p, .orange p {
        /* padding-top: 40px; */
        width: 100%;
        font-size: 15px;
    }
    .third {
        padding: 0;
    }
    .testimonials h1 {
        font-size: 25px;
    }

    .persons {
        margin-top: 40px;
        flex-direction: column;
    }
    .client {
        padding-top: 40px;
    }
    .client img {
        width: 100px;
        height: 100px;
    }
    .client p {
        width: 100%;
        margin-top: 20px;
    }
    .client h2 {
        margin-top: 15px;
    }
    .client h6 {
        margin-top: 10px;
    }
    .jpegs {
        margin-top: 40px;
        flex-wrap: wrap;
    }
    .jpegs img {
        width: 50%;
        height: 210px;
    }
    footer {
        padding: 20px 0;
        width: 100%;
    }
       
    .egg-desktop {
        display: none;
    }
    .egg-mob {
        display: block;
    }
    .standout-desktop {
        display: none;
    }
    .standout-mob {
        display: block;
    }
    .bottles-desktop {
        display: none;
    }
    .bottles-mob {
        display: block;
    }
    .galorange-desktop {
        display: none;
    }
    .galorange-mob {
        display: block;
    }
    .cone-desktop {
        display: none;
    }
    .cone-mob {
        display: block;
    }
    .sugar-desktop {
        display: none;
    }
    .sugar-mob {
        display: block;
    }
















    
    











    
   
      
}






